* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background-image: linear-gradient(rgb(167, 125, 202), rgb(182, 112, 161));
    background-image: webkit-linear-gradient(rgba(81, 171, 199, 0.911), rgb(130, 197, 116));
    background-image: moz-linear-gradient(rgb(54, 122, 111), rgb(130, 197, 116));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Rubik', sans-serif;
}

h1 {
    margin-top: 80px;
    margin-bottom: -15px;
    color: white;
    font-size: 60px;
    font-family: 'Codystar', cursive;
}

.type-area {
    margin: 10px;
    height: 30px;
    font-family: 'Rubik', sans-serif;
    border: none;
    font-size: 20px;
}

.button {
    height: 30px;
    font-family:'Rubik', sans-serif;
    border: none;
    font-size: 20px;
}

.select-days {
    margin: 15px 0 30px 0;
}

footer {
    height: 30px;
}
